@import "../../assets/styles/index.scss";

.profile {
    position: relative;

    &__switch {
        position: relative; 
        display: flex;
        background-color: $background_color;
        border-radius: 32px;
        width: 40px !important;
        height: 20px !important;
        padding: 4px !important;
        span {
            transition: all .5s;
            position: absolute;
            left: 4px;

        }
    }

    &__blueSwitch{ 
        display: block;
        background: $button_background_1;
        width: 12px;
        height: 12px;
        border-radius: 32px;

    }

    &__switchActive { 
       span{ 
        left: calc(100% - 4px); 
        transform: translateX(-100%);

       } 

    }

    &__img {
        width: 32px;
        height: 32px;
        border-radius: 48px;
        margin-right: 12px;
        background: $eth_color;
    }

    &__balance {
        margin-right: 4px;
        margin: 0 4px 0 0;
    }

    &__eth {
        color: $eth_color;
        margin: 0;
    }

    &__menu {
        position: absolute;
        top: 78px;
        left: 20px;
        background: $background_color_2;
        border-radius: 12px;
        padding: 32px 16px;
        width: 256px;
        box-shadow: 0px 16px 64px -48px rgba(31, 47, 70, 0.40);


    }

    &__button {
        display: flex;
        align-items: center;
        border: 2px solid $border_color;
        border-radius: 90px;
        padding: 2px 10px 2px 2px;
        background: transparent;
        margin-left: 12px;
    }

    &__userName {
        font-family: 'Poppins' sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: $text_color_1;
    }

    &__address {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: $text_color_2;
    }

    &__chainInfo {
        display: flex;
        flex-wrap: wrap;
        border-radius: 16px;
        box-shadow: 0px 24px 24px -16px rgba(15, 15, 15, 0.20);
        padding: 8px;

    }



    &__chain {
        width: 40px;
        height: 40px;
        margin-right: 16px;

        img {
            width: 40px;
            height: 40px;
            margin-top: 6px;
        }
    }

    &__chainBalance {
        width: 152px;
    }

    &__chainTitle {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color: $text_color_2;
        margin: 0;
    }

    &__chainValue {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin: 0;
    }

    &__linkCoinbase {
        font-family: 'DM Sans' sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        width: 100%;
        border-radius: 90px;
        border: 2px solid $border_color;
        padding: 8px;
        margin-top: 10px;
    }

&__item  { 
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 18px 0 18px 28px;
    border-bottom:  1px solid $border_color;
    a , p , .profile__disconnect{
        font-family: 'DM Sans' , sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        color: $text_color_2;
        background: none;
        margin: 0;
        padding: 0;
    }

    img{ 
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
    }

    &:last-of-type{ 
        border: none;

    }

    

    

    
}



}