@import "../../assets/styles/index.scss";

.featuredBlock {
    padding: 128px 0px 50px;
    display: flex;
    justify-content: space-between;

    &__title {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        color: $text_color_1;
        margin: 8px 0 24px;

        @media (min-width: $tablet) {
            font-size: 40px;
            line-height: 48px;
        }
    }

    &__left{
        width: 640px;
        img {
            border-radius: 16px;
        }
    } 

    &__right{ 
        width: 352px;
    }
    &__subInfo{
        display: flex;
        justify-content: space-between;

        img {
            width: 40px;
            height: 40px;
            border-radius: 48px;
        }
    }

    &__subInfo > div {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        text-align: center;
        border-radius: 24px;
        border: 2px solid $border_color;
        padding: 32px;
    }
}

