@import "../../assets/styles/index.scss";

.titleBlock {
    padding: 128px 0px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__subtitle {
        text-transform: uppercase;
        color: $text_color_2;
        font-size: 12px;

    }

    &__title {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: $text_color_1;
        margin: 8px 0 24px;

        @media (min-width: $tablet) {
            font-size: 40px;
            line-height: 48px;
        }
    }

    &__button {
        padding: 12px 16px;
        border-radius: 90px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        background-color: transparent;
        color: $text_color_1;
        border: 2px solid $button_border;
        margin-left: 12px;
    }

}