@import "../../assets/styles/index.scss";

.container {
   width: 100%;
   padding: 0 15px;
   margin: auto;
   max-width: 341px;

   @media (min-width: $tablet) {
     padding: 0 20px;
     max-width: 904px;
   }

   @media (min-width: $desktop) {
      max-width: 1160px;
   }
}