@import "../../assets/styles/index.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0;

    @media (min-width: $tablet) {
        padding: 18px 0;
    }

    @media (min-width: $desktop) {
        padding: 20px 0;
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
    }

    &__wrap {
        width: 100%;

        @media (min-width: $tablet) {
            border-bottom: 1px solid $border_color;
        }
    }

    &__logo {
        width: 126px;
        height: 32px;
        object-fit: fill;
    }

    &__sep {
        display: none;
        width: 2px;
        height: 40px;
        background: $background_color;
        border-radius: 2px;
        margin-left: 32px;

        @media (min-width: $desktop) {
            display: block;
        }
    }

    nav {
        display: none;

        @media (min-width: $desktop) {
            display: block;
        }
    }

    button,
    &__wbtn {
        cursor: pointer;
        padding: 12px 2px;
        border-radius: 90px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        width: max-content;

        @media (min-width: $tablet) {
            padding: 12px 16px;
        }

    }

    &__wbtn {
        background-color: transparent;
        color: $text_color_1;
        border: 2px solid $button_border;
        margin-left: 12px;
    }

    &__bbtn {
        background-color: $button_background_1;
        color: $text_color_3;
        margin-left: 35px;
    }

    &__ml32 {
        margin-left: 32px;

    }

    input {
        padding: 10px 16px;
        width: 256px;
        height: 40px;
        border: 2px solid $border_color;
        border-radius: 8px;
    }

    &__inputWrap {
        position: relative;
        margin-right: 35px;

        &::after {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            font-family: "icomoon";
            content: "\e900";
            color: $text_color_2;
        }
    }

    &__right {
        display: none;

        @media (min-width: $tablet) {
            display: flex;
        }
    }

    &__left {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @media (min-width: $desktop) {
            justify-content: start;
        }
    }

    &__burger {
        background: transparent;
        border: none;
        height: 39px;

        @media (min-width: $tablet) {
            display: none;
        }

        span {
            background: $text_color_2;
            height: 3px;
            width: 21px;
            border-radius: 3px;
            display: block;
            margin: 3px;
        }
    }

    &__burgerOpen {
        position: relative;

        span {
            position: absolute;
            transform: rotate(45deg);
            right: 2px;
            top: 15px;
        }

        span:nth-child(1) {
            transform: rotate(135deg);
        }
    }
}


.mobileMenu {
    background-color: $background_color_2;
    width: 100%;
    max-width: 375px;
    height: calc(100vh - 127px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;

    @media (min-width: $tablet) {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    a {
        margin: 16px 32px;
        font-weight: 500;
        line-height: 32px;
        font-size: 24px;
    }

    &__bottom {
        padding: 0 32px 44px;
        display: flex;
        justify-content: space-between;
    }

    &__walletButton {
        background-color: $button_background_1;
        color: $text_color_3;
        padding: 16px 24px;
        border-radius: 90px;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        width: max-content;

        @media (min-width: $tablet) {
            padding: 12px 16px;
        }
    }

    &__search {
        background: none;

        i {
            font-size: 22px;
        }
    }
}