@import "./iconFonts/style";
@font-face {
    font-family: "Poppins";
    src: url("./Poppins/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "DM Sans";
    src: url("./DMSans/DMSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }