@import "../../assets/styles/index.scss";

.footer {
    &__top {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        padding: 82px 0;

        @media (min-width: $tablet) {
            flex-direction: row;
         }

        h3 {
            margin: 32px 0 0 0;
            border-radius: 90px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            margin-bottom: 32px;
            max-width: 200px;

            @media (min-width: $desktop) {
                font-size: 24px;
                line-height: 32px;
                max-width: 260px;
            }
        }
    }

    nav {
        flex-direction: column;
        display: flex;
        justify-content: space-between;

        @media (min-width: $tablet) {
            flex-direction: row;
            min-width: 260px;
         }

        ul {
            list-style: none;
            padding: 38px 0 32px;
            border-top: 1px solid $border_color;
            margin: 0;

            @media (min-width: $tablet) {
                border: none;
             }

            &:last-of-type {
                border-bottom: 1px solid $border_color;

                @media (min-width: $tablet) {
                    border: none;
                }
            }
        }
        
        span {
            position: relative;
            display: block;
            margin-bottom: 40px;
            font-weight: 500;
            width: 100%;

            &::after {
                position: absolute;
                right: 0;
                content: "\e903";
                font-family: "icomoon";
                color: $text_color_2;
                font-size: 8px;

                @media (min-width: $tablet) {
                    display: none;
                }
            }

        }

        a {
            display: block;
            margin-top: 24px;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            font-family: "DM Sans", sans-serif; 
        }
    }

    &__subscribe {
        margin-top: 16px;

        @media (min-width: $tablet) {
            width: 304px;
        }

        @media (min-width: $desktop) {
            width: 352px;
        }    
    }

    &__subscribeTitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    &__subscribeText {
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
    
    &__form {
        position: relative;

        input {
            padding: 14px 58px 14px 16px;
            border: 2px solid $border_color;
            border-radius: 90px;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            width: 100% ;
        }

        button {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            width: 32px;
            height: 32px;
            border-radius: 100px;
            background: $button_background_1;
        }
    }

    &__bottom {
        border-top: 1px solid $border_color;
        display: flex;
        justify-content: space-between;
        padding: 32px 0;
    }

    &__copy {
        color: $text_color_2;
        font-size: 12px;
        line-height: 20px;
        margin: 0;
    }

    &__cookies {
        color: $text_color_1;
        font-size: 12px;
        line-height: 20px;
        margin: 0;
        display: none;

        @media (min-width: $tablet) {
            display: inline;
         }

        span {
            color: $text_color_4;
            font-size: 12px;
            line-height: 20px;
            margin-left: 15px;
        }
    }
}