@import "../../assets/styles/index.scss";


.profileCard {
   display: flex; 
   flex-direction: column;
   align-items: center;
   width: 256px;
padding: 32px;
border-radius: 16px;
border: 1px solid $border_color;
box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
top: -113px;
position: relative; 
background-color: $background_color_2;

}