$text_color_1: #23262F;
$text_color_2: #777E91;
$text_color_3: #FCFCFD;
$text_color_4: #3772FF;
$text_color_5: #141416;

$button_background_1: #3772FF;

$background_page: #FFFFFF;

$button_border: #E6E8EC;

$border_color: #E6E8EC;

$link_color: #777E91;

$hover_link_color: #23262F;

$background_color: #E6E8EC;
$background_color_2: #FCFCFD;